<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hm.cxpay" >

    <application>
        <activity android:name=".ui.LooseChangeActivity" />
        <activity android:name=".ui.IdentificationUserActivity" />
        <activity android:name=".ui.IdentificationInfoActivity" />
        <activity android:name=".ui.RechargeActivity" />
        <activity android:name=".ui.CheckPayPswActivity" />
        <activity android:name=".ui.WithdrawActivity" />
        <activity android:name=".ui.bank.InputPhoneActivity" />
        <activity android:name=".ui.bank.BindBankActivity" />
        <activity android:name=".ui.bank.BankSettingActivity" />
    </application>
</manifest>
