<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hm.cxpay">

    <application>
        <activity
            android:name=".ui.LooseChangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.IdentificationUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.IdentificationInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RechargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CheckPayPswActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bank.InputPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bank.BindBankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bank.BankSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bank.BankDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bank.BindBankFinishActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
