<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hm.cxpay">

    <application>
        <activity
            android:name=".ui.LooseChangeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name=".ui.IdentificationUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.IdentificationInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RechargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.payword.CheckPaywordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bank.InputPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bank.BindBankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bank.BankSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bank.BankDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bank.BindBankFinishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bank.SelectBankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.WithdrawActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BindPhoneNumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bill.BillDetailListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.payword.SetPaywordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.payword.ManagePaywordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.payword.ModifyPaywordActivity"
            android:screenOrientation="portrait" />

        <!-- 发送单个红包-->
        <activity
            android:name=".ui.SingleRedPacketActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 发送群红包-->
        <activity
            android:name=".ui.MultiRedPacketActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

    </application>
</manifest>
