<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yanlong.im">

    <application
        android:name=".MyAppLication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MainAppThrme"
        tools:replace="android:theme">

        <activity-alias
            android:name="test"
            android:label="测试页面"
            android:targetActivity=".user.ui.StartPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="main"
            android:label="首页"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".user.ui.StartPageActivity"
            android:launchMode="standard">
            <!-- <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>-->
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <!--聊天服务-->
        <service android:name=".chat.server.ChatServer" />
        <!-- 新的朋友-->
        <activity
            android:name=".user.ui.FriendApplyAcitvity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!-- 匹配朋友-->
        <activity
            android:name=".user.ui.FriendMatchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <!-- 添加朋友-->
        <activity
            android:name=".user.ui.FriendAddAcitvity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <!-- 保存的群聊-->
        <activity
            android:name=".chat.ui.GroupSaveActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 创建群聊-->
        <activity
            android:name=".chat.ui.GroupCreateActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>

        <!--群信息-->
        <activity
            android:name=".chat.ui.GroupInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!--会话信息-->
        <activity
            android:name=".chat.ui.ChatInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!--聊天界面-->
        <activity
            android:name=".chat.ui.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <!--聊天戳一下界面-->
        <activity
            android:name=".chat.ui.ChatActionActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <!--聊天字体设置-->
        <activity
            android:name=".chat.ui.ChatFontActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>

        <!--选择登录注册-->
        <activity
            android:name=".user.ui.SelectLoginActivity"
            android:screenOrientation="portrait" />

        <!--密码登录-->
        <activity
            android:name=".user.ui.PasswordLoginActivity"
            android:screenOrientation="portrait" />
        <!--验证码登录-->
        <activity
            android:name=".user.ui.IdentifyingCodeActivity"
            android:screenOrientation="portrait" />
        <!--注册页面-->
        <activity
            android:name=".user.ui.RegisterActivity"
            android:screenOrientation="portrait" />
        <!--忘记密码-->
        <activity
            android:name=".user.ui.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.ui.ForgotPasswordNextActivity"
            android:screenOrientation="portrait" />
        <!--忘记密码 end-->
        <!--设置登录密码-->
        <activity
            android:name=".user.ui.SetingPasswordActivity"
            android:screenOrientation="portrait" />
        <!--安全隐私-->
        <activity
            android:name=".user.ui.SecurityPrivacyActivity"
            android:screenOrientation="portrait" />

        <!--个人信息-->
        <activity
            android:name=".user.ui.MyselfInfoActivity"
            android:screenOrientation="portrait" />

        <!--通用设置-->
        <activity
            android:name=".user.ui.CommonActivity"
            android:screenOrientation="portrait" />

        <!--新消息设置-->
        <activity
            android:name=".user.ui.NewMessageActivity"
            android:screenOrientation="portrait" />
        <!--选择职业-->
        <activity
            android:name=".user.ui.SelectProfessionActivity"
            android:screenOrientation="portrait" />
        <!--账号绑定-->
        <activity
            android:name=".user.ui.AccountBindingActvity"
            android:screenOrientation="portrait" />

        <!--二维码-->
        <activity
            android:name=".user.ui.MyselfQRCodeActivity"
            android:screenOrientation="portrait" />

        <!--零钱-->
        <activity
            android:name=".pay.ui.LooseChangeActivity"
            android:screenOrientation="portrait" />
        <!--登录-->
        <activity
            android:name=".user.ui.LoginActivity"
            android:screenOrientation="portrait" />
        <!--关于-->
        <activity
            android:name=".user.ui.AboutAsActivity"
            android:screenOrientation="portrait" />
        <!--公共设置页面-->
        <activity
            android:name=".user.ui.CommonSetingActivity"
            android:screenOrientation="portrait" />

        <!--选择性别-->
        <activity
            android:name=".user.ui.SelectSexActivity"
            android:screenOrientation="portrait" />
        <!--个人头像-->
        <activity
            android:name=".user.ui.ImageHeadActivity"
            android:screenOrientation="portrait" />
        <!--用户资料-->
        <activity
            android:name=".user.ui.UserInfoActivity"
            android:screenOrientation="portrait" />

        <!--上传身份证照片-->
        <activity
            android:name=".user.ui.UploadIdentityActivity"
            android:screenOrientation="portrait" />

        <!--投诉-->
        <activity
            android:name=".user.ui.ComplaintActivity"
            android:screenOrientation="portrait" />

        <!--实名认证-->
        <activity
            android:name=".user.ui.IdentificationCentreActivity"
            android:screenOrientation="portrait" />

        <!--单个红包-->
        <activity
            android:name=".pay.ui.SingleRedPacketActivity"
            android:screenOrientation="portrait" />
        <!--群红包-->
        <activity
            android:name=".pay.ui.MultiRedPacketActivity"
            android:screenOrientation="portrait" />
        <!--红包详情-->
        <activity
            android:name=".pay.ui.RedPacketDetailsActivity"
            android:screenOrientation="portrait" />

        <!--红包记录-->
        <activity
            android:name=".pay.ui.RedpacketRecordActivity"
            android:screenOrientation="portrait" />


        <!--支付宝网页支付-->
        <activity
            android:name=".utils.pay.H5PayActivity"
            android:screenOrientation="portrait" />

        <!--帮助-->
        <activity
            android:name=".user.ui.HelpActivity"
            android:screenOrientation="portrait" />

        <!--帮助详情-->
        <activity
            android:name=".user.ui.HelpInfoActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>
